.Card {
    border: 1px solid black;
    width: 100%;
    background-color: rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 3% 3% 3% 3%;
}

.Img {
    size: 100px;
}