.mainCreate {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 50%;
}

.FormDiv {
    margin-top: 5%;
}

.InputsCreate{
    display: flex;
    flex-direction: row;
    column-gap: 1%;
    margin-top: 2%;
    margin-left: 40%;
    justify-content: flex-end;
}

.typeInputs {
    display: flex;
    flex-direction: row;
    width: 30.4%;
}

.sInput {
    margin-top: 2%;
}

.Options {
    width: 100%;
}

.ErrorCreate {
    color: red;
    display: flex;
}