.MainDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 3%;
}

.Pokemons {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    flex-direction:row;
    column-gap: 1%;
}

.pageMarkers {
    border: 1px solid black;
}
