.NavDiv {
    background-color: brown;
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    width: 99.99%;
    flex-direction: row;
}

.Input {
    height: 10px;
}

.ButtonNav {
    height: 90%;
}